<div class="container-fluid">
  <h3>Review for {{restaurant['name']}}</h3>
  <button [routerLink]="['review']" class='btn btn-info new'>New Review</button>
  <table class="table table-bordered ">
    <thead>
      <tr>
        <th>Customer</th>
        <th>Stars</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let r of reviews">
        <td>{{r.name}}</td>
        <td>{{r.rating}}</td>
        <td>{{r.description}}</td>
      </tr>
    </tbody>
  </table>
</div>
